{% extends "base.html" %}
{% load static %}
{% block content %}
    

    <div class="container">
        <div class="weather-box pt-3">
            <h3 class="text-center header-content">GET YOUR WEATHER UPDATES</h3>
            <div class=" mt-3 mb-4">
                <div class="card-body text-center">
                    <div class="weather-container pt-3 text-black">
                        <div class="col-sm-12 col-md-6 mx-auto">
                            <form method="POST" action="{% url 'home' %}" class="form mb-2 text-black" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.country}}
                                {{ form.city_name}}
                                <div class="text-center pt-4 pb-4">
                                    <button class="btn more-button text-uppercase" type="submit">Get weather</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="allthread-box">
               {% for sensor_weather in weather_data %}
                    <div class="card thread-box mt-3 mb-4">
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="threads">
                                        <h5 class="pt-3"><small class="general-color">Country: </small>{{ sensor_weather.country }} </h5> 
                                        <h6 class="pt-2"><small class="general-color">City: </small>{{ sensor_weather.city }} </h6>
                                        <p class="pt-2"><small class="general-color">Temp:  </small>{{ sensor_weather.temperature }} <sup>o</sup>F</p>
                                        <p class="pt-2">{{ sensor_weather.description }}</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="threads">
                                        <div class="d-sm-block">
                                            <img src="http://openweathermap.org/img/w/{{sensor_weather.icon }}.png" alt="weather icon" class="rounded-circle mr-3" height="100" width="100">
                                        </div>
                                        <div class="view-more-button pb-2">
                                            <a href="{%url 'result' sensor_weather.id %}" class="more-button button">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="mt-3 mb-4">
                        <div class="card-body text-center">
                            <p class="text-center pt-2 text-capitalize general-color"> Search For a Sensor</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
  
{% endblock %}