{% extends "base.html" %}
{% load static %}
    {% block content %}

    <div class="container-fluid">
        <div class="weather-box pt-3 pb-2">
            <h3 class="text-center header-content">{{ single_weather.country }}</h3>
            <p class="bold text-center general-color">{{ single_weather.date }}</p>
        </div>
    </div>

    <div class="weather-forecast text-center">
        <div class="d-sm-block">
            <img src="http://openweathermap.org/img/wn/{{single_weather.icon}}@2x.png"  alt="weather_icon" class="rounded-circle mr-3" height="100" width="100">
            <h4 class="pt-2">{{single_weather.city}}</h4>
            <p class="general-color">{{single_weather.temperature}}<sup>o</sup>C</p>
            <p class="general-color">Wind: <span>{{single_weather.wind}}km/h</span> </p>
            <p class="general-color">Degree: <span>{{single_weather.degree}}<sup>o</sup>C</span> </p>
            <p class="general-color">Humidity: <span>{{single_weather.humidity}}%</span> </p>
            <p class="bold pt-2">{{ single_weather.description }}</p>
        </div>   
    </div>

    <section>
        <div class="container">
            <div class="allthread-box">
                <div class="card thread-box mt-3 mb-4">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date1}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon1}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max1}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min1}}<sup>o</sup>C</small>
                            </div>
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date2}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon2}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max2}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min2}}<sup>o</sup>C</small>
                            </div>
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date3}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon3}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max3}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min3}}<sup>o</sup>C</small>
                            </div>
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date4}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon4}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max4}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min4}}<sup>o</sup>C</small>
                            </div>
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date5}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon5}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max5}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min5}}<sup>o</sup>C</small>
                            </div>
                            <div class="col-sm-2">
                                <p><small><strong>{{ single_weather.date6}}</strong></small></p>
                                <div class="icon">
                                    <img src="http://openweathermap.org/img/wn/{{single_weather.icon6}}@2x.png" alt="weather_icon" width="48" height="48">
                                </div>
                                <div class="general-color"> <strong>{{single_weather.temp_max6}}<sup>o</sup>C</strong></div>
                                <small>{{ single_weather.temp_min6}}<sup>o</sup>C</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-3 text-center pb-5">    
                <a href="{% url 'home' %}" role="button" class="more-button button">
                <i class="fas fa-angle-left left"></i> RETURN HOME 
                </a>
            </div>
        </div>
        <div class="delete-container">
            <div class="admin-btn">
                <a class="text-danger  pb-2" data-toggle="modal" data-target="#modaldelete{{ sensors.sensor_id }}">Delete</a>
            </div>
            
            <div class="modal fade" id="modaldelete{{ sensors.sensor_id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ sensors.sensor_id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="text-center text-black mt-2">
                            <h5 class="modal-title pt-2" id="deleteModalLabel{{ sensors.sensor_id }}">
                                DELETE SENSOR
                            </h5>
                        </div>
                        <div class="modal-body text-black">
                            <h6>Are you sure you would like to remove <strong class="general-color"> <em>{{ single_weather.city }},{{ single_weather.country }}  </em></strong> </h6>
                        <br>
                        <p class="text-black action">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                                Please note that this action cannot be undone!
                        </p>
                        </div>
                        <div class="pb-3 ml-3 mx-auto">
                            <a class="btn btn-black rounded-0" href="{%url 'home' %}">CANCEL</a>
                            <a class="btn btn-black rounded-0" href="{% url 'delete_sensor' sensors.sensor_id %}">DELETE</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
    </section>
 
    {% endblock %}